.title {
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
}

.paragone
{
    font-size: 20px;
    font-style: normal;
    text-align: center;
    margin: 2rem 30rem;
}

.instructions
{
    font-style: normal;
    text-align: justify;
    margin-left: 25rem;
    margin-right: 50rem;
}

.instructions p
{
    font-size: 20px;
}

dl
{
    padding-right: 20rem;
    padding-bottom: 5rem;
}

.instructions {
    font-style: normal;
    text-align: justify;
    margin-left: 25rem;
    margin-right: 25rem;
}

.instructions p {
    font-size: 20px;
}

dl {
    padding-right: 20rem;
    padding-bottom: 5rem;
}

.calculate {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.container {
    width: 99rem;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.btn {
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    color: #eeee;
    background-color: #b19090;
    border-radius: 40px;
    display: inline-block;
    padding: 10px 20px;
    border-color: #544141;
}

.btn:hover {
    background-color: #eeee;
    color: #b19090;
}

/* TABLE */
table {
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

/* RESPONSIVE */
@media screen {
    .form {
        background-color: #f0f0f0;
        margin: 3rem 10rem 2rem;
        border-radius: 1.2rem;
        padding: 0.25rem;
    }
}
