/* Page Title */
.title {
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
}

.paragone {
    font-size: 24px;
    font-style: normal;
    text-align: justify;
    margin: 2rem 3rem;
}

.howto
{
    font-size: 22px;
    
}
/* Calculate Button */
.calculate
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.btn
{
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    color: #eeee; 
    background-color: #B19090;
    border-radius: 40px;
    display: inline-block;
    padding: 10px 20px;
    border-color: #544141;

}

.btn:hover
{
    background-color: #eeee;
    color:#B19090;
    cursor: pointer;
    
}

/* TABLE */
.container
{
    width: 99rem;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
table {
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border-spacing: 0;
    border: none;
    overflow: hidden;
    border-radius: .8em;
    border-collapse: collapse;
    border-style: none;
    text-align: center;
    background-color: #f0f0f0;
    
}

td,
th 
{
    border: none;
    border-collapse: collapse;
    border-style: none;
    text-align: center;
    padding: .5rem .8rem;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 0;
    background-color: transparent;
}
tr 
{
    border-bottom: 1px solid #ddd;
}
td{
    background-color: #f0f0f0;
}

th{
    background-color: #d9c7c7;
    padding: 15px;
    
}

input[type=text1]
{
    border-style: none;
    text-align: center;
    font-size: 2.5vh;
    background-color: transparent;
}

input[type=numbers]
{
    width:14rem;
    padding:.5rem;
}
input
{
    /* background-color: transparent; */
    border-radius: 5px;
    border: .5px solid;
    padding: 5px;
}

/* Number of Trials - Simulations */
.trials {
    margin: auto;
    min-width: 15rem;
    max-width: 15rem;
    background-color: #D7D0D0;
    padding: 1rem;
    border-radius: 10px;
}
/* POPUP */
.box {
        position: fixed;
        bottom: 0px;
        right: 0px; 
        width: 90%;
        margin-right:1em; 
        padding: 3em;
        /* background-clip: padding-box;  */
        text-align: right;
        justify-content: right;
        display: flex;
    
    }

.button {
    font-size: 3em;
    padding: 10px;
    color: #D7D0D0;
    cursor: pointer;
    transition: all 0.3s ease-out;
    }

.button:hover {
        color: #B19090;
    }

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
    }
    .overlay:target {
    visibility: visible;
    opacity: 1;
    }

 .popup {
    margin: 70px auto;
    padding: 20px;
    background: #f0f0f0;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    }

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
    }
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
    }
    .popup .content {
    max-height: 30%;
    overflow: auto;
}

/* Collapsible*/
.collapsible > input[type="checkbox"] {
    position: absolute;
    left: -100vw;
  }
  
  .collapsible .content {
    overflow-y: hidden;
    height: 0;
    transition: height 0.3s ease;
  }
  
  .collapsible > input[type="checkbox"]:checked ~ .content {
    height: auto;
    overflow: visible;
  }
  
  .collapsible label {
    display: block;
  }

  .collapsible {
    margin-bottom: 1em;
  }
  
  .collapsible > input[type="checkbox"]:checked ~ .content {
    padding: 15px;
    border: 1px solid #e8e8e8;
    border-top: 0;
  }
  
  .collapsible .handle {
    margin: 0;
    font-size: 1.125em;
    line-height: 1.2em;
  }
  
  .collapsible label {
    color: #333;
    cursor: pointer;
    font-weight: normal;
    padding: 15px;
    background: #e8e8e8;
  }
  
  .collapsible label:hover,
  .collapsible label:focus {
    background: #d8d8d8;
  }
  
  .collapsible .handle label:before {
    font-family: 'fontawesome';
    content: "\f054";
    display: inline-block;
    margin-right: 10px;
    font-size: .58em;
    line-height: 1.556em;
    vertical-align: middle;
  }
  
  .collapsible > input[type="checkbox"]:checked ~ .handle label:before {
    content: "\f078";
  }

  .collapsible {
    max-width: 65em;
  }
  
  .collapsible p:last-child {
    margin-bottom: 0;
  }

@media screen and (max-width: 700px){
.box{
    width: 70%;
    }
.popup{
    width: 70%;
    }
}
/* RESPONSIVE */
@media screen {
    .form
    {
    background-color: #f0f0f0;
    margin: 3rem 10rem 2rem;
    border-radius: 1.2rem;
    padding: 0.25rem;
    }
}

@media only screen and (max-width: 1500px) and (min-width: 300px)
{
    .table
    {
        margin-left: 3vh;
        margin-right: 5vh;
    }
    
}