.title {
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
}

.ganttchartname {
    font-size: 2rem;
    text-align: center;
    margin: .1rem 2rem .1rem 2rem;
}

.paragone {
    font-size: 24px;
    font-style: normal;
    text-align: justify;
    margin: 2rem 3rem;
}

.calculate {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.grid-container {
    display: grid;
    width: 90rem;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
    overflow-x: auto;
}

.container {
    width: 99rem;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.btn {
    text-decoration: none;
    text-align: right;
    font-size: 1.2rem;
    color: #eeee;
    background-color: #B19090;
    border-radius: 40px;
    display: inline-block;
    padding: 10px 20px;
    border-color: #544141;
}

.btn:hover {
    background-color: #eeee;
    color: #B19090;

}

.compute {
    text-decoration: none;
    text-align: right;
    font-size: 1rem;
    color: #eeee;
    background-color: #B19090;
    border-radius: 10px;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid;
}

.compute:hover {
    background-color: #eeee;
    color: #B19090;

}

.compute_indiv {
    text-decoration: none;
    text-align: right;
    font-size: 1rem;
    color: #eeee;
    background-color: #B19090;
    border-radius: 10px;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid;
}

.compute_indiv:hover {
    background-color: #eeee;
    color: #B19090;

}

/* TABLE RESULTS*/
table.results {
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border-spacing: 0;
    border: none;
    overflow: hidden;
    border-radius: .8em;
    border-collapse: collapse;
    border-style: none;
    text-align: center;
    background-color: #f0f0f0;
}

td,
th {
    border: none;
    border-collapse: collapse;
    border-style: none;
    text-align: center;
    padding: .5rem .8rem;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 0;
    background-color: transparent;
}

tr {
    border-bottom: 1px solid #ddd;
}

td {
    background-color: #eeee;
}

th {
    background-color: #d9c7c7;
    padding: 15px;
}

textarea {
    background-color: transparent;
    border: 2px solid;
    border-radius: 10px;
    padding: 3px;
    resize: none;
    margin: 5px;
}

input[type=text1] {
    border-style: none;
    text-align: center;
}

input[type=number] {
    border-style: none;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
}

input[type=textp] {
    border-style: none;
    text-align: center;
    font-size: 20px;
}

input {
    background-color: transparent;
    border-radius: 10px;
    padding: 5px;
}

/* Cards */
.containerbox {
    justify-content: space-evenly;
    display: flex;
    width: auto;
    height: auto;
}

.boxx {
    width: 30%;
    height: auto;
    padding: 3px 2px 25px 2px;
    border: 1px solid #ccc;
    margin: 5vh;
    background: white;
    border-radius: 10px;
    transition: 0.9;
}

.boxx:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.5);
    cursor: pointer;
}

.containerbox2 {
    justify-content: space-evenly;
    display: flex;
    width: auto;
    height: auto;
}

.boxx2 {
    width: 30%;
    height: auto;
    padding: 30px 2px 15px 2px;
    border: 1px solid #ccc;
    margin: 5vh;
    background: white;
    border-radius: 10px;
    transition: 0.9;
}

.boxx2:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.5);
    cursor: pointer;
}

#two {
    font-size: 20px;
    padding: 5px 5px;
    text-align: center;
    color: rgb(104, 92, 92);
}

h3 {
    font-size: 20px;
    padding: 5px 5px;
    text-align: center;
    color: rgb(104, 92, 92);
}

p {
    font-size: 18px;
    padding: 5px;
    text-align: center;
}

/* GANTT CHART */
.grid-container-gantt {
    display: grid;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

table.gantt-chart {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
    align-items: justify;
    width: 100%;
    border-spacing: 0;
    border: none;
    border-collapse: collapse;
    text-align: center;
    border-style: ridge;
    table-layout: fixed;
}

table.gantt-chart th,
table.gantt-chart td {
    white-space: nowrap;
    border: none;
    border-collapse: collapse;
    text-align: center;
    padding: 12px 5px;
    display: table-cell;
    vertical-align: middle;
}

.waiting {
    height: 30px;
    position: relative;
    background: none;
}

.progress {
    height: 30px;
    position: relative;
    background: #B19090;
    border: 0px;
    border-radius: 10px;
}

/* RESPONSIVE */
@media screen {
    .form {
        background-color: #f0f0f0;
        margin: 3rem 10rem 2rem;
        border-radius: 1.2rem;
        padding: 0.25rem;
    }
}


@media only screen and (max-width: 1500px) and (min-width: 300px)
{
    .grid-container
    {
        margin-left: 5vh;
        margin-right: 5vh;
    }

    .containerbox,
    .containerbox2 {
        display: block;
        margin: 3vh;
    }

    .boxx,
    .boxx2 {
        width: 90%;
    }
}