html {
  font-family: sans-serif;
  background-color: #FFFFFF;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1em;
  font-size: 2rem;
  text-align: center;
  color: #544141;
}

h2 {
  font-size: 1.4em;
  color: rgb(104, 92, 92);
  padding-bottom: 1em;
}

h3 {
  font-size: 1.4em;
  color: rgb(104, 92, 92);
  font-weight: 600;
  padding-top: 1em;
}

h4 {
  font-size: 1.3em;
  text-align: center;
  color: rgb(104, 92, 92);
  font-weight: 600;
  margin-top: 0;
}

h5 {
  font-size: 1.1em;
  color: rgb(104, 92, 92);
  font-weight: 600;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

h6 {
  font-size: 1em;
  color: rgb(104, 92, 92);
  font-weight: 600;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  color: #544141;
  padding-bottom: 1em;
}

.title {
  text-align: center;
}

.body-container {
  padding-top: 5vh;
  padding-left: 7vw;
  padding-right: 7vw;
}

ol>li::marker {
  font-weight: 600;
  color: rgb(73, 66, 66);
}

header {
  top: 0;
  width: 100%;
  position: sticky;
  margin-left: auto;
  margin-right: auto;
}

.topnav {
  overflow: hidden;
  background-color: #D9D9D9;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
}

.topnav a {
  text-align: center;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
}

.topnav a .logo {
  text-align: center;
  text-decoration: none;
}

.topnav .icon {
  display: none;
  color: black;
  padding: 0 40px;
}

div.topnav img {
  width: 50px;
}

.menu-items{
  float: right;
}

.homes {
  justify-content: left;
  padding: 0 10px;
}

.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

div.topnav li {
  display: inline-block;
}

div.topnav li a,
div.topnav .dropbtn {
  display: inline-block;
  color: rgb(75, 61, 38);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

div.topnav li a:hover,
div.topnav.dropdown:hover .dropbtn {
  background-color: #B19090;

}

div.topnav li .dropdown {
  display: inline-block;
}

div.topnav .dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 1rem;
}

div.topnav .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

div.topnav .dropdown-content a:hover {
  background-color: #f1f1f1;
}

div.topnav .dropdown:hover .dropdown-content {
  display: block;
}

div.topnav i{
  font-size:1.5em; 
  color:rgb(73, 66, 66);
}

@media screen and (max-width: 800px) {
  .topnav {
    overflow: hidden;
    background-color: #D9D9D9;
  }

  .topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .topnav ul li {
    display: none;
  }

  div.topnav .logo {
    display: block;
  }

  .topnav a.icon {
    float: right;
    display: flex;
  }

  .menu-items{
  margin-left:auto;
  margin-right: auto;
  width: 100vw;
  }
}

@media screen and (max-width: 800px) {
  .topnav.responsive {
    position: relative;
    display: grid;
  }

  .topnav.responsive .icon {
    position: absolute;
    float: right;
    right: 0;
    top: 10px;
  }

  .topnav.responsive ul li {
    float: none;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }

  div.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-items: center;
  }

  .topnav.responsive #logo {
    float: left;
    justify-content: left;
    padding: 0 10px;
    display: flex;
  }
}

footer {
  width: 100%;
  background-color: #EEEEEE;
  position: absolute bottom;
  margin-top: auto;
}

footer li a {
  text-decoration: none;
  color: #333;
}

.footer ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

footer li {
  float: left;
  padding: 0.5em 1em;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background: #B19090;
}

::-webkit-scrollbar-thumb:hover {
  background: #776161;
}

@media screen and (max-width: 800px) {

  .footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .footer ul li {
    line-height: .1rem;
    font-size: .9em;
  }
}

@media screen and (max-width: 800px) {
  .footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .footer ul li {
    line-height: 1rem;
  }
}

div.policypg .body-container p{
  text-align: justify;
}

.paragone {
  text-align: justify;
}

div.homepg .secondpara {
  font-style: normal;
  color: #544141;
  text-align: justify;
}

div.homepg .box p,
div.homepg .box1 p {
  text-align: center;
}

.tablecontainer {
  justify-content: space-evenly;
  display: block;
  width: auto;
  height: auto;
}

.container {
  justify-content: center;
  display: flex;
  width: auto;
  height: auto;
  margin-top: 2em;
}

.probability .container ul {
  list-style-type: none;
  margin-top: 0;
}

.probability .container p {
  padding: 0;
  margin: 0;
  text-align: left;
}

.probability .container h5 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.probability h2 {
  padding-top: 2em;
  padding-bottom: 0;
}

.probability .container h4 {
  margin-bottom: 0.5em;
}

.box {
  width: 30%;
  height: auto;
  padding: 2.5em 1.5em;
  margin-bottom: 1.5em;
  margin-left: 1em;
  margin-right: 1em;
  border: 1px solid #ccc;
  background: white;
  border-radius: 10px;
  transition: 0.9;
}

.box:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.5);
  cursor: pointer;
}

.container1 {
  justify-content: center;
  display: flex;
  width: auto;
  height: auto;
  margin-bottom: 5rem;
}

.box1 {
  width: 32%;
  height: auto;
  padding: 2.5em 1.5em;
  margin-bottom: 1.5em;
  margin-left: 1em;
  margin-right: 1em;
  border: 1px solid #ccc;
  background: white;
  border-radius: 10px;
  transition: 0.9;
}

.box1:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.5);
  cursor: pointer;
}

.probability input[type="number"]{
  text-align: center;
}

input#p, input#p_indiv{
  border: none;
  pointer-events: none;
  text-align: center;
  font-size: 1.5em;
}

@media (max-width: 800px) {

  .container,
  .container1 {
    display: block;
  }

  .box,
  .box1 {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 1500px) and (min-width: 300px) {
  div.homepg .secondpara {
    color: #544141;
    text-align: justify;
  }

}

div.homepg .btn {
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  color: #eeee;
  background-color: #B19090;
  border-radius: 40px;
  display: inline-block;
  padding: 10px 20px;
  border-color: #544141;
}

div.homepg .btn:hover {
  background-color: #eeee;
  color: #B19090;

}


div.mainpg .generate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

div.mainpg .form {
  background-color: #f0f0f0;
  border-radius: 1.2rem;
  margin: 2em 2em;
  width: 80%;
  padding: 1em 0em;
}

div.mainpg .form-group {
  margin: 2rem 0;
  text-align: center;
  box-sizing: border-box;

}

div.mainpg input,
div.mainpg select {
  width: 50%;
  height: 3em;
  padding: 0em 1em;
  margin: 1em 2em;
  box-sizing: border-box;
}

div.mainpg .btn {
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
  color: #eeee;
  background-color: #B19090;
  border-radius: 40px;
  display: inline-block;
  padding: 10px 20px;
  border-color: #544141;
}

div.mainpg .btn:hover {
  background-color: #eeee;
  color: #B19090;

}



div.inputpg div.howto h2,
div.inputpg div.howto p {
  padding-bottom: 0;
}

div.inputpg div.content p {
  padding: 0;
  margin: 0;
}

div.inputpg div.content i {
  font-weight: 600;
}

div.inputpg div.content center {
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}



div.inputpg .calculate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

div.inputpg .btn {
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
  color: #eeee;
  background-color: #B19090;
  border-radius: 40px;
  display: inline-block;
  padding: 10px 20px;
  border-color: #544141;

}

div.inputpg .btn:hover {
  background-color: #eeee;
  color: #B19090;
  cursor: pointer;

}


div.inputpg table {
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-spacing: 0;
  border: none;
  overflow: hidden;
  border-radius: .8em;
  border-collapse: collapse;
  border-style: none;
  text-align: center;
  background-color: #f0f0f0;

}

div.inputpg td,
div.inputpg th {
  border: none;
  border-collapse: collapse;
  border-style: none;
  text-align: center;
  padding: .5rem .8rem;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 0;
  background-color: transparent;
}

div.inputpg tr {
  border-bottom: 1px solid #ddd;
}

div.inputpg td {
  background-color: #f0f0f0;
}

div.inputpg th {
  background-color: #d9c7c7;
  padding: 15px;

}

div.inputpg input[type=text1] {
  border-style: none;
  text-align: center;
  font-size: 1.2em;
  background-color: transparent;
}

div.inputpg input[type=numbers] {
  width: 14rem;
  padding: .5rem;
}

div.inputpg input {
  border-radius: 5px;
  border: .5px solid;
  padding: 5px;
}

div.inputpg .trials {
  margin: auto;
  min-width: 15rem;
  max-width: 15rem;
  background-color: #D7D0D0;
  padding: 1rem;
  border-radius: 10px;
}
div.inputpg .trials input{
  margin-top: 1em;
}

.collapsible>input[type="checkbox"] {
  position: relative;
  left: -100vw;
}

.collapsible .content {
  overflow-y: hidden;
  height: 0;
  transition: height 0.3s ease;
  text-align: justify;
}

.collapsible>input[type="checkbox"]:checked~.content {
  height: auto;
  overflow: visible;
}

.collapsible label {
  display: block;
}

.collapsible {
  margin-bottom: 1em;
}


.collapsible>input[type="checkbox"]:checked~.content {
  padding: 15px;
  border: 1px solid #e8e8e8;
  border-top: 0;
}

.collapsible .handle {
  margin: 0;
  font-size: 1.125em;
  line-height: 1.2em;
}

.collapsible label {
  color: #333;
  cursor: pointer;
  font-weight: normal;
  padding: 15px;
  background: #e8e8e8;
}

.collapsible label:hover,
.collapsible label:focus {
  background: #d8d8d8;
}

.collapsible .handle label:before {
  font-family: 'fontawesome';
  content: "\f054";
  display: inline-block;
  margin-right: 10px;
  font-size: .58em;
  line-height: 1.556em;
  vertical-align: middle;
}

.collapsible>input[type="checkbox"]:checked~.handle label:before {
  content: "\f078";
}

.collapsible {
  max-width: 99%;
  margin: 2em;
}

.collapsible p:last-child {
  margin-bottom: 0;

}

@media screen {
  div.inputpg .form {
    background-color: #f0f0f0;
    margin: 3rem 10rem 2rem;
    border-radius: 1.2rem;
    padding: 0.25rem;
  }
}

@media only screen and (max-width: 1500px) and (min-width: 300px) {
  div.inputpg .table {
    margin-left: 3vh;
    margin-right: 5vh;
  }

}

div.func {
  padding-top: 1em;
}

div.func-desc,
div.outputpg div.where {
  padding-left: 2em;
}

div.where1 {
  padding-left: 2em;
  padding-top: 1em;
}

div.func-desc {
  padding-top: 1em;
}

div.normal img,
div.betapert img,
div.pert img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 2.5em;
  width: auto;
  padding: 1em 0;
}

div.triangular img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 4em;
  width: auto;
  padding: 1em 0;
}

div.howto h2,
div.howto p {
  padding-bottom: 0;
}

div.content p {
  padding: 0;
  margin: 0;
}

div.content i {
  font-weight: 600;
}

div.content center {
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}

.howto {
  padding-left: 2em;
  margin-bottom: 2em;
}

.mustknow {
  padding-left: 2em;
}

.mustknow h2,
.mustknow p {
  padding-bottom: 0;
}

.mustknow-desc {
  padding-left: 2.5em;
}

.mustknow-desc p {
  margin-bottom: 0;
  margin-top: 0;
}

.description {
  text-align: center;
}

.probability input{
  height: 3em;
    padding: 0em 1em;
    box-sizing: border-box;
  margin-bottom: 1.5em;
}

div.outputpg .grid-container {
  display: grid;
  width: 90rem;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10px;
  overflow-x: auto;
}

button {
  text-decoration: none;
  font-size: 1rem;
  color: #eeee;
  background-color: #B19090;
  border-radius: 40px;
  border: none;
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 1.5rem;
  margin-top: 0.5em;
}
button:hover {
  background-color: #eeee;
  color: #B19090;

}

div.outputpg table.results {
  font-size: 15px;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-spacing: 0;
  border: none;
  overflow: hidden;
  border-radius: .8em;
  border-collapse: collapse;
  border-style: none;
  text-align: center;
  background-color: #f0f0f0;
}

div.outputpg td,
div.outputpg th {
  border: none;
  border-collapse: collapse;
  border-style: none;
  text-align: center;
  padding: 1rem;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 0;
  background-color: transparent;
}

div.outputpg tr {
  border-bottom: 1px solid #ddd;
  padding: 15px;
}

div.outputpg td {
  background-color: #f0f0f0;
}

div.outputpg th {
  background-color: #d9c7c7;
  padding: 15px;
  min-width: 10em;
}

div.outputpg .grid-container-gantt {
  /* width: 100%; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div.grid-container-gantt .gridd-container{
  display: grid;
  /* max-width: 90vw; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10px;
  overflow-x: auto;
}
tr.gantt-act{
  /* min-width: 90vw; */
}
div.outputpg div.grid-container-gantt div.title h2 {
  padding: 0;
}

div.grid-container-gantt{
  overflow-x: auto;
}




div.outputpg table.gantt-chart {
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
  border-collapse: collapse;
  align-items: justify;
  width: max-content;
  border-spacing: 0;
  border: none;
  border-collapse: collapse;
  text-align: center;
  border-style: none;
  table-layout: fixed;
  background-color: #f0f0f0;
  margin-left: auto;
  margin-right: auto;
}

div.gantt tr.gantt-act th.first{
  min-width: 10em;
}

div.gantt tr.gantt-act th.other{
  width: auto;
  min-width: 5em;
}

div.outputpg table.gantt-chart th,
div.outputpg table.gantt-chart td {
  white-space: nowrap;
  border: none;
  border-collapse: collapse;
  text-align: center;
  padding: 12px 5px;
  display: table-cell;
  vertical-align: middle;
}

div.outputpg .waiting {
  height: 30px;
  position: relative;
  background: none;
}

div.outputpg .progress {
  height: 30px;
  position: relative;
  background: #B19090;
  border: 0px;
  border-radius: 10px;
}

@media screen {
  div.outputpg .form {
    background-color: #f0f0f0;
    margin: 3rem 10rem 2rem;
    border-radius: 1.2rem;
    padding: 0.25rem;
  }
}