.title
{
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
}


.paragone
{
    font-size: 24px;
    font-style: normal;
    text-align: justify;
    margin: 2rem 5rem;
}

.generate
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.container
{
    width: 100%;
}

center{
    width: 75%;
    margin-left: 12%;
}

.form
{
    background-color: #f0f0f0;
    border-radius: 1.2rem;
}

.form-group
{
    margin: 2rem 5rem;
    text-align: center;
    box-sizing: border-box;
    
}

input
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.btn
{
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    color: #eeee; 
    background-color: #B19090;
    border-radius: 40px;
    display: inline-block;
    padding: 10px 20px;
    border-color: #544141;
}

.btn:hover
{
    background-color: #eeee;
    color:#B19090;
    
}

@media screen {
    .form
    {
    background-color: #f0f0f0;
    margin: 3rem 10rem 2rem;
    border-radius: 1.2rem;
    padding: 0.25rem;
    }
}